<!DOCTYPE html>
<html lang="eus" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/matomo.js"></script>
    <script src="https://kit.fontawesome.com/671e0cb2b6.js" crossorigin="anonymous"></script>
    <title>Document</title> 
</head>
<body>
    <header>
        <nav>
            <section id="home-logo">
                <a href="/">
                    <img id="logo" src="/images/Wanderlust_logo.png" alt="">
                </a>
            </section>
            <section id="menu-section">
                <ul>
                    <li>
                        <a href="/">Hasiera</a>
                    </li>
                    <li>
                        <a href="/ikuspegia">Ikuspegia</a>
                    </li>
                    <li>
                        <a href="/chat">Chat</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </section>
            <section id="icons-section">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/login">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="card-shadow">
                <div class="divider"></div>
                <div class="card-login">
                    <h2 class="form-title">SAIOA HASI</h2>
                    <form id="login-form" th:action="@{/login}" method="post">
                        <div class="input-group">
                            <label for="username">Erabiltzaile izena</label>
                            <input type="text" name="username" id="username" required>
                        </div>
                        <div class="input-group">
                            <label for="password">Pasahitza</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <a href="/register">Ez duzu konturik? Sortu kontua hemen</a>
                        <button type="submit">Hasi saioa</button>
                        <button class="exit">Utzi</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-title">
            <p>
                <strong>Wanderlust® 2024</strong>
            </p>
        </div>
        <div>
            <a href="dokumentuak/TÉRMINOS DE USO.pdf">
                Privacy&amp;Legal &nbsp;&nbsp;
            </a>
            <a >Contacto</a>
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/">
                <i class="fa-brands fa-instagram" style="color:black" aria-hidden="true"></i>
            </a>
            <a href="https://www.tiktok.com/">
                <i class="fa-brands fa-tiktok" style="color:black" aria-hidden="true"></i>
            </a>
            <a href="https://www.twitter.com/">
                <i class="fa-brands fa-twitter" style="color:black" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/">
                <i class="fa-brands fa-facebook" style="color:black" aria-hidden="true"></i>
            </a>
        </div>
    </footer>
</body>
</html>